body, html {
    margin: 10px;
}

.header {
    display: flex;
    gap: 10px;
}

@media (width <= 320px) {
    .contenedor-header-1 {
        background-color: rgb(27, 45, 234);
        width: 50%;
        height: 10vh;
    }
    
    .contenedor-header-2 {
        background-color: rgb(33, 30, 241);
        width: 50%;
        height: 10vh;
    }
}

@media (320px <= width <= 768px) {
    .contenedor-header-1 {
        background-color: rgb(6, 184, 0);
        width: 50%;
        height: 10vh;
    }
    
    .contenedor-header-2 {
        background-color: rgb(60, 214, 25);
        width: 50%;
        height: 10vh;
    }
}

@media (1024px <= width >= 1024px) {
    .contenedor-header-1 {
        background-color: rgb(254, 164, 50);
        width: 50%;
        height: 10vh;
    }
    
    .contenedor-header-2 {
        background-color: rgb(254, 164, 50);
        width: 50%;
        height: 10vh;
    }
}



