html{
    background-color: #E5E6FB;
}

caption{
    text-align: center;
    font-size: larger;

}

table{
    text-align: center;
    background-color: bisque;
    width: 550px;
    border: 4px solid black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 0px;
    margin: auto;

}

.sinborde{
    border:none;
   }

td{
    border-top: none;
    border-right: none;
    border-bottom: solid black;
}

.subrayado{
    background-color: #00BFFF;
}